:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #6b6161;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 1rem;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5f4f4f;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #52569e;
  color: rgb(233, 208, 208);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.button-panel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sub-dashboard {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  height: 100vh; /* To ensure the layout occupies the full height of the page */
  box-sizing: border-box;
}

.product-list {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
}

.product-list li {
  list-style: none; /* Ensures no bullet points for the list items */
  color: #213547;
  background-color: #ccaaaa;
  padding: 15px;
  padding-bottom: 0;
  border-radius: 2rem;
  margin: 1rem;
}


.cart {
  width: 25%; /* Cart occupies 25% of the page width */
  padding: 16px;
  border: 1px solid #181414;
  background-color: #ddd0d0;
  color: #000;
  box-sizing: border-box;
  position: absolute; /* Positioning cart to the extreme right */
  top: 16px; /* Adjust the top margin */
  right: 0; /* Aligns it to the extreme right */
  bottom: 16px; /* Adjust the bottom margin */
  overflow: scroll;
  scrollbar-color: gray;
}

.sub-cart {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sub-cart div {
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}
